.footer{
  background-color: white;
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  &__inner{
    height: 50px;
    .footer-navi{
      padding-top: 10px;
      &__text{
        a{
          text-decoration: none;
          color: black;
        }
        margin: 10px;
        display: inline-block;
      }
    }
  }
  &__wrapper{
    height: 30px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 30px;
  }
}