.main
  .main__title
    Exchange Diary
    %ul.main__title--btn
      %li
        = link_to "Sign up", "#", class: "newbtn"
        = link_to "Sign in", "#", class: "inbtn"
        = link_to "How to Use", "#", class: "howbtn"